{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{% block title %}Blog{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body>
{% block sidebar %}
{#               navbar            #}
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">BLOG</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <span class="navbar-text">

{#        Приветствие юзера с именем, если он зарегистрирован            #}
                Welcome {{ request.user.username }}
                </span>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog-sign-in' %}">Вход</a>
            </li>
{#   Вывод ссылки на добавление статьи только для авторизованных пользователей     #}
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-add-article' %}">Добавить статью</a>
                    </li>
                {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog-sign-out' %}">Выход</a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block page %}{% endblock %}
</body>
</html>